---
import Layout from '../layouts/Layout.astro'
import {getTokens} from '../lib/sanity'

const tokens = await getTokens()
---

<Layout>
  <h1>test</h1>
  <div class="w-dyn-list">
    {
      tokens.length > 0 ? (
        <div role="list" class="w-dyn-items">
          {tokens.map((token) => (
            <div role="listitem" class="collection-item w-dyn-item">
              <div>{token.name}</div>
              <img src={token.imageUrl} loading="lazy" alt="" class="image" />
              <div>{token.author?.name}</div>
            </div>
          ))}
        </div>
      ) : (
        <div class="w-dyn-empty">
          <div>No items found.</div>
        </div>
      )
    }
  </div>
</Layout>
